<!DOCTYPE html>

<!-- taking out app name angular-client-side-auth 
<script type="text/javascript" src="../js/app.js"></script>
-->
 <html ng-app="homePanels">

  <head>
   	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
   	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="../js/angularCopy.js"></script>
    <script src="../js/homepanels.js"></script>
  </head>


<body>
<!-- <div class="row">

        <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Peer</a>
          </div>

          <ul class="nav navbar-nav nav-pills pillcolor">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <div id="searchField">
          <form class="navbar-form navbar-left" role="search">
        	<div class="form-group">
          	<input type="text" class="form-control" placeholder="Search">
        	</div>
        	<button type="submit" class="btn btn-default"><b class = "glyphicon glyphicon-search"></b></button>
      	  </form>
      	  </div>

          <ul class="nav navbar-nav nav-pills pull-right pillcolor">
            <li><a href="#">Skills</a></li>
            <li><a href="#">People</a></li>
          </ul>


  		</div>
  	</div>
</div> -->


<br><br>


<!-- Left Bar Code -->

  <div class ="row">

	 <div class ="col-md-2">
	   	<h3>Left Buffer</h3>
	 </div>




<!-- Center Bar Code -->

<div id="mainstream" >

  <div class ="col-md-8" ng-controller="HomeController as homeCenter">

  <!-- 		<button ng-controller="ContentController as contentCtrl" onclick="pullContent(contentArea)">Load</button> -->		

    <h2 id="headerLabel">My Profile</h2>

    <p> {{homeCenter.contents[0].job}} </p>

    <div ng-repeat="content in homeCenter.contents">
      {{content}}
    </div>

  </div>

</div>





<!-- Right Bar Code -->

	<div class ="col-md-2">
		<h3>Right Buffer</h3>











	</div>

</div>
</body>
</html
