.nav a {

  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: "Trebuchet MS", sans-sarif;


}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  background-repeat:no-repeat;
  height: 500px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

h1, h2, h3 {
  text-align: center;
}

.navbar {
  background-color:#114475;
  border-radius: 0;
}

li {
  color:#fff;
}

/*Link styling*/
.navbar .nav > li > a {
  color:#ffffff;
  font-size: 125%;
}

/*"Peer" section styling*/
.navbar .navbar-header > a {
  color:#ffffff;
  font-size: 200%;
  font-family: "Trebuchet MS", sans-sarif;
}

/*Pill Styling*/
.navbar  .pillcolor > li.active > a {
    background-color: #CA7700;
    color: #ffffff;
}

.navbar .pillcolor > li.active > a:hover {
  background-color: #CA7700;
  color: #ffffff;
}

.navbar .pillcolor > li > a:hover {
  background-color: #CA7700;
  color: #ffffff;
}


/*Styling to make column panels that extend to bottom*/

html,body,#fullPanel
{
    height:100%;
}
#fullPanel
{
    display:table;
    width: 100%;
    padding: 10 10; /*set left/right padding according to needs*/

}

.row
{
    height: 100%;
    display: table-row;
}
/*.col-md-3, .col-md-6, .col-md-3 */
.col-md-3, .col-md-6, .col-md-3
{
    display: table-cell;
    float: none; 
}



.profilePanel {
  background-color:#D4F0FF;
  height:30%;
  min-height:25%;
  max-width:110%;
  margin-left:-1.5%;
  margin-right:-1.5%;
}

/*This should style stuff inside content*/
.contentPanel {

}

/*This is the bigger container for content*/
#contentPanel {
  height:70%;
  max-width:110%;
  margin-left:-1.5%;
  margin-right:-1.5%;
  background-color:#D4F0FF;
}

#midPanel {
  background-color:#ffffff;
  height:100%;
}

#rightPanel {
  height:100%;
  width:100%;
  background-color:#C2CBCE;
}

#leftPanel {
  height:100%;
  width:100%;
  background-color:#C2CBCE;
}


/*Profile Elements*/

#profilePicture {
   float:left;
   height: auto;
   width: 25%;
   margin-right:2%;
}

.profileName h5{
  font-size: 250%;
}

.jobTitle h5{
  font-size: 150%;
}

.myLocation h5 {
  font-size: 125%;
}















