.nav a {

  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: "Trebuchet MS", sans-sarif;


}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  background-repeat:no-repeat;
  height: 500px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.centerText {
  text-align: center;
}

.navbar {
  background-color:#114475;
  border-radius: 0;
  margin-left:-1%;
  margin-right:-1%;

}

li {
  color:#fff;
}

/*Link styling*/
.navbar .nav > li > a {
  color:#ffffff;
  font-size: 125%;
}

/*"Peer" section styling*/
.navbar .navbar-header > a {
  color:#ffffff;
  font-size: 200%;
  font-family: "Trebuchet MS", sans-sarif;
}

/*Pill Styling*/
.navbar  .pillcolor > li.active > a {
    background-color: #CA7700;
    color: #ffffff;
}

.navbar .pillcolor > li.active > a:hover {
  background-color: #CA7700;
  color: #ffffff;
}

.navbar .pillcolor > li > a:hover {
  background-color: #CA7700;
  color: #ffffff;
}














/*Styling to make column panels that extend to bottom*/

html,body,#fullPanel
{
    height:100%;
}
#fullPanel
{
    display:table;
    width: 100%;
    padding: 10 10; /*set left/right padding according to needs*/

}
#fullPeoplePanel
{
    display:table;
    width: 100%;
    padding: 10 10; /*set left/right padding according to needs*/

}
.row
{
    height: 100%;
    display: table-row;
}
/*.col-md-3, .col-md-6, .col-md-3 */
.col-md-3, .col-md-6, .col-md-3
{
    display: table-cell;
    float: none; 
}



.profilePanel {
  background-color:#D4F0FF;
  height:30%;
  min-height:25%;
  max-width:110%;
  margin-left:-1.5%;
  margin-right:-1.5%;
}

/*This should style stuff inside content*/
.contentPanel {
  /*changing this font size changes everything in the content panel*/
  font-size:125%;
}

.contentPanel h4 {
  font-size:150%;
}

.contentLine {
 font-size:125%;
 display:inline-block;
 float:none; 
 margin-bottom:5%;
 padding-top:1.5%;
 
/* padding-bottom:2%;
 margin-bottom:5%;
 padding-left:1%;*/
}

.badgeBlock {
  display:inline-block;
  float:left; 
}

.snapshotScore {
  display:inline-block;
  float:right;
}

.badge {
  font-size:100%;
  text-align:left;
  width:90%;
}





/*This is the bigger container for content*/
#contentPanel {
  height:70%;
  max-width:110%;
  margin-left:-1.5%;
  margin-right:-1.5%;
  background-color:#D4F0FF;
}

#midPanel {
  background-color:#ffffff;
  height:100%;
}

#rightPanel {
  height:100%;
  width:100%;
  background-color:#C2CBCE;
}

#leftPanel {
  height:100%;
  background-color:#C2CBCE;
}





/*Profile Elements*/

.profilePicture {
   float:left;
   max-width:25%;
   margin-right:2%;
}

.profileName h5{
  font-size: 250%;
}

.jobTitle h5{
  font-size: 150%;
}

.myLocation h5 {
  font-size: 125%;
}

.singleSnapshot {
  border-style:none;
  font-size:125%;
}

.snapshotName{
  display:inline-block;
  font-size:120%;
  float:none;
}




/*People HTML Styling*/

#peoplePanel {
  height:100%;
  width:100%;
}

.shortProfileContent {
  font-size:115%;
  margin-top:-3%;
}

.shortProfile {
  padding-top:4%;
  padding-left:2%;
}





/*Animations*/
.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}

.glyphicon-fire {
  color:#FF6600;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #DBDBDB, #8F8F8F, #DBDBDB); 
    background-image:    -moz-linear-gradient(left, #DBDBDB, #8F8F8F, #DBDBDB); 
    background-image:     -ms-linear-gradient(left, #DBDBDB, #8F8F8F, #DBDBDB); 
    background-image:      -o-linear-gradient(left, #DBDBDB, #8F8F8F, #DBDBDB); 
}